<div class="display">
  <div class="container" *ngIf="userEntity != null">
    <div style="padding-left: 10px; padding-top: 5px;">
      <button (click)="router.navigate(['login'])">Dashboard</button>
    </div>
    <h1>{{ userEntity.firstName }} {{ userEntity.lastName }}</h1>
    <div class="sub">{{ userEntity.email }}</div>
    <div class="cols">
      <div class="col1">
        <div class="content">
          <label>Age: </label>
          <div class="value">{{ userEntity.age }}</div>
          <br />
          <label>Blood Group: </label>
          <div class="value">{{ userEntity.bloodGroup }}</div>
          <br />
          <label>State: </label>
          <div class="value">{{ userEntity.state }}</div>
          <br />
          <label>PIN Code: </label>
          <div class="value">{{ userEntity.pinCode }}</div>
        </div>
      </div>
      <div class="col2">
        <div class="content">
          <label>Gender: </label>
          <div class="value">{{ userEntity.gender!.toString() }}</div>
          <br />
          <label>Weight: </label>
          <div class="value">{{ userEntity.weight }}</div>
          <br />
          <label>Area: </label>
          <div class="value">{{ userEntity.area }}</div>
          <br />
          <label>Contact Number: </label>
          <div class="value">{{ userEntity.contactNumber }}</div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
