<div class="display">
  <div class="login" *ngIf="!authService.isLoggedIn()">
    <h1>Log In</h1>
    <form (ngSubmit)="login()">
      <div class="col1">
        <div class="content">
          <label for="user">Username: </label><br />
          <label for="pass">Password: </label>
        </div>
      </div>
      <div class="col2">
        <div class="content">
          <input
            type="text"
            autocomplete="off"
            name="username"
            id="user"
            [(ngModel)]="userAuthRequest.username"
          />
          <br />
          <input
            type="password"
            autocomplete="off"
            name="password"
            id="pass"
            [(ngModel)]="userAuthRequest.password"
          />
        </div>
        <br>
      </div>
      <div class="login-group">
        <button type="submit">Login</button>
        <br>
        <div *ngIf="hasFailed" style="color:red">
          Username/password incorrect. Please try again.
        </div>
      </div>
    </form>
    <br />
    <p>No account? Register <a href="/register">here</a>.</p>
  </div>
  <div *ngIf="authService.isLoggedIn()">
    <h1>Logged In</h1>
    <div class="menu-button">
      <button (click)="router.navigate(['profile'])">User Profile</button>
    </div>
    <div class="menu-button">
      <button (click)="router.navigate(['home'])">Home</button>
    </div>
    <div class="menu-button">
      <button (click)="router.navigate(['search'])">Search</button><br>
    </div>
    <div class="menu-button">
      <button (click)="logout()">Logout</button><br>
    </div>
  </div>
</div>
